body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* Header CSS */

#header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/cross_CV_pima.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
}

.nav-bar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar {
    background-color: #000;
}

.navbar-brand img {
    height: 50px;
}

.nav-bar .fa-bars {
    font-size: 35px;
    color: #fff;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-nav {
    float: right;
    text-align: right;
    padding-right: 10px;
}

.nav-link {
    color: #fff !important;
}